

.bar{
  background-color: #373759;
  padding: .8% 0% 1% 0%;
  
}

.brand{
  padding: 0% 0% 0% 3%;
  font-size: xx-large;
}

.link{
  margin: 0% 0% 0% 5%;
   color: #eee;
   text-decoration: none;
   font-size: large;
}
.carousel{
  display: flex;
  justify-content: center;
  margin: 2%;
}

.api-div{
  text-align: center;
  margin: 5% 0% 5% 2%;
}

.api-li, li{
    list-style-type: none;
}
.sale-text{
  color: rgb(59, 255, 41);
  margin: 1% 0% 0% 0%;
}
.real-price {
  color:rgba(3, 9, 3, 0.981);
  margin: 1% 0% 0% 0%;
}
.old-price {
  text-decoration: line-through;
  color:rgba(3, 9, 3, 0.981);
  margin: 3% 0% 0% 0%;
}
.offer-text{
  margin: 3% 0% 1% 0%;
}

.button{
  margin: 5% 0% 5% 0%;
}
.foot{
  background-color: #373759;
}
.detail-prod{
  display: flex;
  justify-content: space-evenly;
  background-color: #e9e7e7;
  padding: 1% 0% 1% 0%;
}
.detail-img{
  width: 30%;
  height: 50%;
}
.detail-line{
  border:2px solid #373759;
  text-align: center;
  padding: 2% 0% 0% 0%;
  margin: 1% 0% 1% 0%;

}
.details-div{
  margin: 2% 0% 5% 0%;
}
.button-group{
  margin: 5% 0% 0% 0%;
  text-align: center;
}
.question-div{
  margin: 5% 0% 5% 5%;
}
.h1-div{
  margin: 2% 0% 2% 0%;
}
.form-div{
  margin: 5%;
}
